


*{margin:0; padding:0; box-sizing: border-box; outline: none;}


input{width: 33%; right: 7.5%; position: absolute; text-align: center;}

.space-btn-calcular{margin: 5% 5%; display: inline-block; }
.space-btn-calcular a{background: #007ACC; padding: 10% 90%;;color: white; box-shadow: 1px 2px 1px gray; border-radius: 10%}
.space-btn-calcular a:active{background: #004C7F; padding: 7% 90%; font-size: 98%; color: white; box-shadow: 0px 0px gray}
.bnt-calcular{position: relative; border-style: outset;}

p{line-height: 17pt; }


#topo{margin: 0; padding:0%; width: 100%;}
.cabecalho{width: 100%; padding: 0%; background: #007ACC; box-sizing: border-box;}
.logo{width: 100%; padding: 10%; height: 0%; background: url("img/topo.png") no-repeat center; background-size: auto 80%}
.separador{width: 100%; padding: 1%; background: #004C7F}

#principal{width: 100%; padding: auto}
.corpo{margin: 15px 4%; padding: 3.5%; background: url('img/fundo-bloco1.jpg'); border-radius: 5%;}


.box-1{background: white; text-indent: 3%; line-height: 25pt; border-radius: 5%;}

.box-2{}

#img-info{}
#img-info img{width: 100%}

#rodape{width: 100%; padding: 7%; background: #004C7F}



@media screen and (min-width: 300px){
	p{line-height: 17pt; font-size: 14px;}
	.space-btn-calcular{margin: 5% 16%; display: inline-block; }
}

@media screen and (min-width: 480px){
	p{line-height: 17pt; font-size: 20px;}
	.space-btn-calcular{margin: 5% 25%; display: inline-block; }
}

@media screen and (min-width: 640px){
	.space-btn-calcular{margin: 5% 35%; display: inline-block; }
}

@media screen and (min-width: 768px){
	.space-btn-calcular{margin: 5% 45%; display: inline-block; }
	p{font-size: 20px}
}

@media screen and (min-width: 1024px){
	.space-btn-calcular{margin: 5% 50%; display: inline-block; }
	p{line-height: 30pt; font-size: 30px}
	input{padding: 10px}
}